<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465886689268-riba3f6jmpqgpp0qeq7186ba35iuaqc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465886689268-riba3f6jmpqgpp0qeq7186ba35iuaqc4</string>
	<key>API_KEY</key>
	<string>AIzaSyDHLYA6Vg8_cAFDOc9iMLsHgh9fLQh1cWM</string>
	<key>GCM_SENDER_ID</key>
	<string>465886689268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-server-6a7de</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-server-6a7de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465886689268:ios:9099289c176fae1e9ceba1</string>
</dict>
</plist>